.icon {
  width: 32px;
  height: 32px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.tile .icon {
  background-size: 32px;
}

.icon-home {
  background-image: url(../images/icons/icon-home.svg);
}
.icon-illness {
  background-image: url(../images/icons/icon-illness.svg);
}
.icon-caring {
  background-image: url(../images/icons/icon-caring.svg);
}
.icon-accounts {
  background-image: url(../images/icons/icon-accounts.svg);
}
.icon-add-later {
  background-image: url(../images/icons/icon-add-later.svg);
}
.icon-ailing {
  background-image: url(../images/icons/icon-ailing.svg);
}
.icon-assets {
  background-image: url(../images/icons/icon-assets.svg);
}
.icon-back {
  background-image: url(../images/icons/icon-back.svg);
}
.icon-calendar {
  background-image: url(../images/icons/icon-calendar.svg);
}
.icon-caring {
  background-image: url(../images/icons/icon-caring.svg);
}
.icon-check-unchecked {
  background-image: url(../images/icons/unchecked.svg);
}
.icon-check-checked {
  background-image: url(../images/icons/icon-check-checked.svg);
}
.icon-checklist {
  background-image: url(../images/icons/icon-checklist.svg);
}
.icon-death {
  background-image: url(../images/icons/icon-death.svg);
}
.icon-disability {
  background-image: url(../images/icons/icon-disability.svg);
}
.icon-divorce {
  background-image: url(../images/icons/icon-divorce.svg);
}
.icon-dl-advisor {
  background-image: url(../images/icons/icon-dl-advisor.svg);
}
.icon-dl-benefits {
  background-image: url(../images/icons/icon-dl-benefits.svg);
}
.icon-dl-documents {
  background-image: url(../images/icons/icon-dl-documents.svg);
}
.icon-dl-legal {
  background-image: url(../images/icons/icon-dl-legal.svg);
}
.icon-dl-mail {
  background-image: url(../images/icons/icon-dl-mail.svg);
}
.icon-dl-medical {
  background-image: url(../images/icons/icon-dl-medical.svg);
}
.icon-dl-medicare {
  background-image: url(../images/icons/icon-dl-medicare.svg);
}
.icon-executor {
  background-image: url(../images/icons/icon-executor.svg);
}

.icon-dl-probate {
  background-image: url(../images/icons/icon-dl-probate.svg);
}
.icon-dl-school {
  background-image: url(../images/icons/icon-dl-school.svg);
}
.icon-dl-ss {
  background-image: url(../images/icons/icon-dl-ss.svg);
}
.icon-empty-nest {
  background-image: url(../images/icons/icon-empty-nest.svg);
}
.icon-estate {
  background-image: url(../images/icons/icon-estate.svg);
}
.icon-expert {
  background-image: url(../images/icons/icon-expert.svg);
}
.icon-health {
  background-image: url(../images/icons/icon-health.svg);
}
.icon-home {
  background-image: url(../images/icons/icon-home.svg);
}
.icon-illness {
  background-image: url(../images/icons/icon-illness.svg);
}
.icon-info {
  background-image: url(../images/icons/icon-info.svg);
}
.icon-market {
  background-image: url(../images/icons/icon-market.svg);
}
.icon-nav-notifications {
  background-image: url(../images/icons/icon-nav-notifications.svg);
}
.icon-nav-search {
  background-image: url(../images/icons/icon-nav-search.svg);
}
.icon-nav-weather {
  background-image: url(../images/icons/icon-nav-weather.svg);
}
.icon-newcomers {
  background-image: url(../images/icons/icon-newcomers.svg);
}
.icon-organize {
  background-image: url(../images/icons/icon-organize.svg);
}
.icon-parenthood {
  background-image: url(../images/icons/icon-parenthood.svg);
}
.icon-probate {
  background-image: url(../images/icons/icon-probate.svg);
}
.icon-products {
  background-image: url(../images/icons/icon-products.svg);
}
.icon-retiring {
  background-image: url(../images/icons/icon-retiring.svg);
}
.icon-selling {
  background-image: url(../images/icons/icon-selling.svg);
}
.icon-settings {
  background-image: url(../images/icons/icon-settings.svg);
}
.icon-starting-out {
  background-image: url(../images/icons/icon-starting-out.svg);
}
