.tile {
  border-radius: 12px;
  display: block;
  padding: 12px;
  background: rgba($tofu-200, 0.55);
  margin-bottom: 20px;
  text-decoration: none;
  cursor: default;
  transform-origin: center;
  transform: scale(1); // Set base for transition
  transition: transform 0.1s linear;

  // Only allow on non-touch devices
  @media (hover: hover) {
    &:hover {
      transform: scale(1.025);
    }
  }

  &:active {
    transform: scale(0.985);
  }
}

.icon-wrapper {
  width: 48px;
  .icon {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    background-color: $sage-200;
  }
}

.tile-details {
  padding-left: 20px;

  .title {
    font-size: $font-size-base;
    font-weight: $font-weight-demi;
    margin: 0 0 4px;
  }
  .desc {
    font-size: $font-size-sm;
    color: $gray-300;
    margin: 0;
  }
}

.all-events .desc {
  display: none;
}

// Checkbox tiles

.check-tile {
  padding-left: 12px;
  transition: 0.2s all linear;
  cursor: default;

  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .icon-wrapper {
    padding: 2px;
    width: 28px;
    background-color: transparent;
    .icon {
      width: 24px;
      height: 24px;
      border-radius: 0;
      background-size: 20px;
      background-image: url(../images/icons/unchecked.svg);
      background-color: transparent;
    }
  }

  .title {
    margin: 0;
    font-size: 1.6rem;
    line-height: 2.4rem;
    position: relative;
    display: inline-block;

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 100%;
      background: repeating-linear-gradient(
        transparent,
        transparent 11.5px,
        #1a3d5f 11.5px,
        #1a3d5f 12.5px,
        transparent 12.5px,
        transparent 35.5px,
        #1a3d5f 35.5px,
        #1a3d5f 36.5px
      );
      transition: all 0.28s ease-in-out;
    }
  }

  &.active {
    background-color: rgba(#e4ebf3, 0.5);
    .icon-wrapper,
    .title {
      opacity: 0.6;
    }

    .icon {
      background-image: url(../images/icons/icon-check-checked.svg);
    }
    .title {
      // text-decoration: line-through;
      &:before {
        right: 0;
      }
    }
  }
}
